* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

h2 {
	font-family: 'Kanit', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}

a {
	font-family: 'Lato', sans-serif;
}

#hero-bg {
	background-image: url(./images/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#hero-container {
	background-color: rgba(0, 0, 0, 0.6);
}

/*#hero-container > p {
	font-size: 1.5em;
}*/